openapi: 3.2.0
info:
  title: Fast Analytics API
  version: 0.1.0
  x-spec-profile: public-filtered
  x-spec-note: This is the PUBLIC spec for external agents + ChatGPT Actions. Super-admin and internal debug routes are excluded. Regenerated via backend/scripts/filter_public_openapi.py.
  description: Public API for external agents and ChatGPT Custom GPT Actions.
servers:
- url: https://matchitup.in
  description: Production
tags:
- name: Analytics
paths:
  /api/analytics/pageview:
    post:
      summary: Track Pageview
      description: Track a page view - public endpoint
      operationId: track_pageview_api_analytics_pageview_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageViewEvent'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Analytics
  /api/analytics/stats:
    get:
      summary: Get Analytics Stats
      description: Get analytics statistics - admin only
      operationId: get_analytics_stats_api_analytics_stats_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      tags:
      - Analytics
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    PageViewEvent:
      properties:
        page:
          type: string
          title: Page
        referrer:
          anyOf:
          - type: string
          - type: 'null'
          title: Referrer
        user_agent:
          anyOf:
          - type: string
          - type: 'null'
          title: User Agent
      type: object
      required:
      - page
      title: PageViewEvent
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
