openapi: 3.2.0
info:
  title: Matchitup In Referrals API
  version: 0.1.0
  x-spec-note: This is the PUBLIC spec for external agents + ChatGPT Actions. Super-admin and internal debug routes are excluded. Regenerated via backend/scripts/filter_public_openapi.py.
  x-spec-profile: public-filtered
  description: 'Operations tagged referrals across 2 of this provider''s published API definitions: matchitup-in-openapi.json, matchitup-in-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://matchitup.in
  description: Production
tags:
- name: Referrals
paths:
  /api/referrals/validate/{code}:
    get:
      tags:
      - Referrals
      summary: Validate Code
      description: Validate a referral code (public - used on signup page)
      operationId: validate_code_api_referrals_validate__code__get
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
          title: Code
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://matchitup.in
      description: Production
  /api/referrals/my-stats:
    get:
      tags:
      - Referrals
      summary: Get My Referral Stats
      description: Get current user's referral statistics
      operationId: get_my_referral_stats_api_referrals_my_stats_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - HTTPBearer: []
    servers:
    - url: https://matchitup.in
      description: Production
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
x-refined-from:
- matchitup-in-openapi.json
- matchitup-in-openapi.yml
