openapi: 3.2.0
info:
  title: Fast Partner Leads API
  version: 0.1.0
  x-spec-profile: public-filtered
  x-spec-note: This is the PUBLIC spec for external agents + ChatGPT Actions. Super-admin and internal debug routes are excluded. Regenerated via backend/scripts/filter_public_openapi.py.
  description: Public API for external agents and ChatGPT Custom GPT Actions.
servers:
- url: https://matchitup.in
  description: Production
tags:
- name: Partner Leads
paths:
  /api/partner-leads:
    post:
      summary: Submit Partner Lead
      description: Collect leads from B2B partner landing page
      operationId: submit_partner_lead_api_partner_leads_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerLeadRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Partner Leads
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    PartnerLeadRequest:
      properties:
        name:
          type: string
          title: Name
        email:
          type: string
          format: email
          title: Email
        company:
          type: string
          title: Company
        members:
          anyOf:
          - type: string
          - type: 'null'
          title: Members
        message:
          anyOf:
          - type: string
          - type: 'null'
          title: Message
      type: object
      required:
      - name
      - email
      - company
      title: PartnerLeadRequest
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
